*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
h1, h3{
    color: #fff;
    text-align: center;
}
.container .h11{
    font-family: Bowlby One Sc;
}
span{
    color: red;
}
body{
    background-image: url(./images/background_image.jpg);
    color: #FFFFFF;
    background-repeat: no-repeat;
}
.container{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 1240px;
    height: 1036px;
    margin: 30px auto;
    padding: 10px 40px;
}
.container .title{
    width: 1240px;
    height: 90px;
    font-size: 50px;
    padding-top: 15px;
}
.container .description{
    font-size: 23px;
    font-style: italic;
}
.container .survey-form{
    background-color: rgba(0, 0, 0, 0.8);
    width: 500px;
    height: 897px;
    margin: auto;
    font-color: #fff;
    font-size: 16px;
    padding: 10px 40px;
    padding-bottom: 10px;
}
.container .survey-form .form .box{
    width: 420px;
    height: 94px;
    margin: 20px 0px 0px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container .survey-form .form .box .box-in{
    margin: 0px 40px 14px 0px;
    width: 100%;
    padding: auto;
}
.container .survey-form .form .box .box-under{
    float: left;
    width: 420px;
    height: 60px;
    padding: 10px;
}

.container .survey-form .form .box-feedback{
    margin: 10px auto;
    height: 133px;
    width: 460px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container .survey-form .form .box .box-check{
    width: 420px;
    height: 92px;
    font-size: 14px;
}
label{
    float: left;
}
button{
    width: 160px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor:pointer;
}
.container .survey-form .form .box .send{
    align-items: center;
    margin: 15px 30%;
}