*{
    /* margin: 0px;
    padding: 0px;
    box-sizing: border-box; */
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0 10px;
    background-color: antiquewhite;
}
h1{
    color: red;
    height: 90px;
    text-align: center;
    padding: 30px 0;
}
h2{
    color: blueviolet;
    /* margin: 30px 0; */
}
.nav{
    width: 100px;
    display: inline-block;
    margin: 30px 5px;
}
h4{
    color: darkgoldenrod;
    margin: 30px 0;
}
.birinci{
    width: 50px;
    margin: 0px auto;
    /* list-style-type: circle; */
}
.vizmis{
    text-align: left;
}
.urun{
    width: 300px;
    margin: 0 auto;
    /* background-color: aliceblue; */
    /* height: 19800px; */
}
img{
    width: 300px;
    height: 300px
    
}
.reklam{
    /* width: 90px; */
    /* height: 90px; */
    background-color: yellowgreen;
    position: sticky;
    /* left: 400px; */
    /* top: 100px; */
}
@media screen {
    
}