//*****************************************************
//*   FOOTER
//*****************************************************

.link-style{
    a{
        padding: 0.4rem;
        @include transition(1s);

        &:hover{
            color: $secondary-color;
        }
    }
}

footer.horizontal{
    // border: 2px solid red;
    height: 10vh;
    display:flex ;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    @extend .link-style;

}